/* SDAC Translate CSS */

#sdac_translate .sdac_flag {height:11px !important;line-height:11px !important;margin-top:3px;}
#sdac_translate .sdac_flag#sq {background-position: 0 0;} 
#sdac_translate .sdac_flag#ar {background-position: 0 -11px;} 
#sdac_translate .sdac_flag#bg {background-position: 0 -22px;} 
#sdac_translate .sdac_flag#ca {background-position: 0 -33px;}
#sdac_translate .sdac_flag#zh-CN {background-position: 0 -44px;} 
#sdac_translate .sdac_flag#zh-TW {background-position: 0 -44px;} 
#sdac_translate .sdac_flag#hr {background-position: 0 -55px;} 
#sdac_translate .sdac_flag#cs {background-position: 0 -66px;}
#sdac_translate .sdac_flag#da {background-position: 0 -77px;} 
#sdac_translate .sdac_flag#nl {background-position: 0 -88px;} 
#sdac_translate .sdac_flag#et {background-position: 0 -99px;} 
#sdac_translate .sdac_flag#tl {background-position: 0 -110px;} 
#sdac_translate .sdac_flag#fi {background-position: 0 -121px;} 
#sdac_translate .sdac_flag#fr {background-position: 0 -132px;} 
#sdac_translate .sdac_flag#gl {background-position: 0 -143px;} 
#sdac_translate .sdac_flag#de {background-position: 0 -154px;}
#sdac_translate .sdac_flag#el {background-position: 0 -165px;} 
#sdac_translate .sdac_flag#iw {background-position: 0 -176px;} 
#sdac_translate .sdac_flag#hi {background-position: 0 -187px;} 
#sdac_translate .sdac_flag#hu {background-position: 0 -198px;} 
#sdac_translate .sdac_flag#id {background-position: 0 -209px;} 
#sdac_translate .sdac_flag#it {background-position: 0 -220px;} 
#sdac_translate .sdac_flag#ja {background-position: 0 -231px;} 
#sdac_translate .sdac_flag#ko {background-position: 0 -242px;} 
#sdac_translate .sdac_flag#lv {background-position: 0 -253px;} 
#sdac_translate .sdac_flag#lt {background-position: 0 -264px;} 
#sdac_translate .sdac_flag#mt {background-position: 0 -275px;} 
#sdac_translate .sdac_flag#no {background-position: 0 -286px;} 
#sdac_translate .sdac_flag#pl {background-position: 0 -297px;} 
#sdac_translate .sdac_flag#pt {background-position: 0 -308px;} 
#sdac_translate .sdac_flag#ro {background-position: 0 -319px;} 
#sdac_translate .sdac_flag#ru {background-position: 0 -330px;} 
#sdac_translate .sdac_flag#sr {background-position: 0 -341px;} 
#sdac_translate .sdac_flag#sk {background-position: 0 -352px;} 
#sdac_translate .sdac_flag#sl {background-position: 0 -363px;} 
#sdac_translate .sdac_flag#es {background-position: 0 -374px;} 
#sdac_translate .sdac_flag#sv {background-position: 0 -385px;} 
#sdac_translate .sdac_flag#th {background-position: 0 -396px;} 
#sdac_translate .sdac_flag#tr {background-position: 0 -407px;} 
#sdac_translate .sdac_flag#uk {background-position: 0 -418px;} 
#sdac_translate .sdac_flag#vi {background-position: 0 -429px;}
#sdac_translate .sdac_flag#en {background-position: 0 -440px;}
#sdac_translate .sdac_flag#ka {background-position: 0 -451px;}
